body {
  background-color: #100542;
  overflow-x: hidden;
}
.form-inline .form-control {
  border-radius: 20px;
  width: 400px;
}
#search {
  border-radius: 20px;
}
.navbar {
  background-color: #1c2327;
}
#navigation li {
  margin-left: 15px;
}

#latestMoviesInfo h5 {
  font-size: 30px;
}

#latestMoviesInfo p {
  font-size: 20px;
}

#latestMovies img {
  opacity: 0.6;
}
#latestMoviesInfo {
  position: absolute;
  top: 10px;
  left: 40px;
  bottom: auto;
}
.categoryButton {
  margin-top: 50px;
  margin-left: 5px;
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #6e302e;
  border-radius: 5px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New;
  font-size: 15px;
  padding: 6px 20px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #263666;
  width: 30%;
  white-space: nowrap;
  overflow: hidden;
}
.categoryButton:hover {
  background: linear-gradient(to bottom, #6a93db 5%, #b5bbc9 100%);
}
.buttonFocus {
  position: relative;
  top: 1px;
  background: linear-gradient(to bottom, #6a93db 5%, #b5bbc9 100%);
}

.card {
  margin-top: 30px;
  white-space: normal;
  overflow: hidden;
  text-align: left;
  background-color: #100542;
  color: white;
  opacity: 0.6;
  border-style: none;
}

.card:hover {
  opacity: 1;
  transform: scale(1.05);
}

.sticky {
  position: sticky;
  top: 0; /* When the element reaches top: 10px, it becomes fixed. */
  z-index: 100;
}
#footer {
  transform: scale(1.1);
  background-color: #1c2327;
  padding: 60px;
  margin: auto;
}

#footer .fab {
  border-radius: 100%;
  margin-bottom: 15px;
}
#footer img {
  height: 90px;
  width: 190px;
}

#footer-nav li {
  display: inline-block;
  margin: 5px;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -85px;
}
#signup .container #login-row #login-column #login-box {
  margin-top: 70px;
  max-width: 600px;
  height: 405px;
  border: 1px solid #9c9c9c;
  background-color: #eaeaea;
}
#signup .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#signup
  .container
  #login-row
  #login-column
  #login-box
  #login-form
  #register-link {
  margin-top: -50px;
}
.slowReveal {
  animation: slowlyReveal 2s ease-in-out;
}

@keyframes slowlyReveal {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

#item1 img {
  border-radius: 15px;
}

a {
  cursor: pointer;
}

#back {
  position: absolute;
  top: 80px;
  left: 80px;
}

#heart {
  position: absolute;
  top: 80px;
  right: 80px;
}

#share {
  position: absolute;
  left: 80px;
  bottom: 80px;
}

#mail {
  position: absolute;
  left: 80px;
  bottom: 130px;
  display: none;
}

#twitter {
  position: absolute;
  left: 80px;
  bottom: 180px;
  display: none;
}

#facebook {
  position: absolute;
  left: 80px;
  bottom: 230px;
  display: none;
}

#reddit {
  position: absolute;
  left: 80px;
  bottom: 280px;
  display: none;
}

#movieContainer p {
  font-size: large;
  letter-spacing: 0.05rem;
  line-height: 1.6;
}

#signup,
#edit,
#login {
  display: none;
}

#favouritesPage {
  visibility: hidden;
}

@media only screen and (max-width: 750px) {
  #mail {
    bottom: 100px;
  }

  #twitter {
    bottom: 120px;
  }

  #facebook {
    bottom: 140px;
  }

  #reddit {
    bottom: 160px;
  }
}
